<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Circle Area</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/circle">Circle Calculetor</a></li>
          <li><a href="/rectangle">Rectangle Calculetor</a></li>
          <li><a href="/triangle">Triangle Calculetor</a></li>
        </ul>
      </nav>
    </header>

    <h1>Circle Area</h1>

    <div>
      <form action="/circle" method="POST">
        <label for="radius"> Radius : </label>
        <input type="text" name="radius" id="radius" /> <br />
        <button type="submit">calculate</button>
      </form>
    </div>
  </body>
</html>
