<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Area calculator</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/circle">Circle Calculetor</a></li>
          <li><a href="/rectangle">Rectangle Calculetor</a></li>
          <li><a href="/triangle">Triangle Calculetor</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
