<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rectangle Area</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/circle">Circle Calculetor</a></li>
          <li><a href="/rectangle">Rectangle Calculetor</a></li>
          <li><a href="/triangle">Triangle Calculetor</a></li>
        </ul>
      </nav>
    </header>

    <h1>Rectangle Area</h1>

    <div>
      <form action="/rectangle" method="POST">
        <label for="length"> length : </label>
        <input type="text" name="length" id="length" />
        <label for="width"> width : </label>
        <input type="text" name="width" id="width" /> <br>
        <button type="submit">calculate</button>
  </body>
      </form>
    </div>
    
</html>
